<div class="clipped-logo">
    <img src="../images/2le-clipped.png" alt="2le-logo">
</div>
<h3 class="rightheading">Our latest tweets</h3>

<a class="twitter-timeline" href="https://twitter.com/2lemedia" data-widget-id="671096788712050688">Tweets by
    @2lemedia</a>
<script>!function (d, s, id) {
    var js, fjs = d.getElementsByTagName(s)[0], p = /^http:/.test(d.location) ? 'http' : 'https';
    if (!d.getElementById(id)) {
        js = d.createElement(s);
        js.id = id;
        js.src = p + "://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);
    }
}(document, "script", "twitter-wjs");</script>
