body {
    font-family: 'Roboto', sans-serif;
    line-height: 1.6em;
    margin: 0;
}

#container {
    margin: 40px auto;
    width: 960px;
}

.star {
    cursor: pointer;
}

.tooltip {
    position: relative;
    color: #ff0042;
    font-size: 1.4em;
    font-weight: bold;
    width: 160px;
}

.clearfix {
    overflow: auto;
    clear: both;
}
