body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#container {
    margin: 0 auto;
    width: 960px;
}

.star {
    cursor: pointer;
}

.tooltip {
    position: relative;
    color: #ff0042;
    font-size: 1.4em;
    font-weight: bold;
    width: 160px;
}